.paiPagamento{
    background-color: #FBFAF6;
    padding: 40px;
    flex-wrap: wrap;
}
.paiPagamento .left input{
    margin-bottom: 20px;
}
.paiPagamento .rigth2 label{
    font-size: 18px;
}
.paiPagamento .rigth2 input{
    width: 350px;
    height: 30px;
    padding-left: 5px;
    border-radius: 5px;
    border: 1px solid #F2F2F2;
    background-color: #F2F2F2;
    margin-top: 10px;
    margin-bottom: 10px;
}


.buttonFinalizar{
    background-color: #219653;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    height: 60px;
    font-size: 19px;
    text-transform: uppercase;
    width: 280px;
    color: white;    
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.3s;
    cursor: pointer;
}
.buttonFinalizar:hover{
    background-color: #FDF2DF;
    box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
    color: black;
}